.Modal {
  position: fixed;
  inset: 0;
  padding: 16px;
  
  display: grid;
  place-items: center;
  
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: relative;
  width: 80%;
  padding: 16px;

  text-align: center;

  background-color: white;
  border-radius: 10px;
}

.btn-close-modal {
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 8px 16px;
  font-size: 20px;

  background-color: #f5365c;
  color: white;

  border: none;
  border-radius: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 0.5s forwards;
}
