.Modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: grid;
  place-items: center;

  padding: 1rem;
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 80%;
  text-align: center;
}

.btn-close-modal {
  position: absolute;
  top: 10px;
  right: 1rem;
  padding: 8px 15px;
  font-size: 20px;
  border: none;
  background-color: #f5365c;
  color: white;
  border-radius: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 0.5s forwards;
}


@keyframes slideUp {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

.slideUp {
  animation: slideUp 0.3s forwards;
}